body {
    font-family: Verdana;
    overflow-x: hidden;
    padding-bottom: 26px;
}

/* Image and Map related */
 
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    max-width: 80%;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
}

.slideshow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 520px;
    width: fit-content;
    margin: 25px;
}

#prev, #next {
    border-radius: 15px;
    margin: 0 25px;
    padding: 15px;

    cursor: pointer;
    height: fit-content;
    
    transition: 0.6s ease;
    user-select: none;
    left: 0;
    top: 50%;
}
  
#next {
    right: 0; 
    left: unset;
}

img {
    height: 100%;
}

ul {
    width: 52%;
}

#mainMap {
    height: 680px;
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
  
@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

/* Text related */

.papiello {
    width: 75%;
    text-align: justify;
}

.cit {
    width: 50%;
    font-style: italic;
}

span {
    font-weight: bold;
    font-size: 18pt;
    margin-left: 10%;
}

.ranking {
    font-size: 10pt;
    margin-left: 5%
}

.description {
    display: flex;
    flex-direction: column;

    font-size: 13pt;

    text-align: justify;
    text-justify: inter-word;

    width: 80%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding: 30px 0;
    border-radius: 15px;
    width: 65%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#sign {
    text-align: right;
    margin-right: 15%;
    margin-top: -25px;
}